
  /* .c
  {
    right:0px;
    left: 26px;
  } */
  .card{
    /* background-color: azure; */
    background-color: rgba(245, 245, 245, 0.4);
    width: 100%;
    margin-top: 100px;
    padding: 20px 25px 30px;
}
input[type=text]{
  background-color: rgba(245, 245, 245, 0.4);
  border-color:rgba(245, 245, 245, 0.4);
}
input[type=password]{
  background-color: rgba(245, 245, 245, 0.4);
  border-color:rgba(245, 245, 245, 0.4);
}
.error{
  color:red;
}

.bodyclass{
      /* width: 100%;
      height: 100%; 
      position: fixed;*/
      /* height:100%;
      width: 100%;
      background: url('/assets/loginbackground.jpg') center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center; 
      background-size: cover; */
      /* background-color: #a9a4a430; */
      background-color: #eb5151e8;  
}
.btn-primary{
  background-color: #efdad7;
  border-color:aliceblue;
  color:black;
}
/* .container{
    background-image: url('/assets/loginbackground.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
} */