<body class="bodyclass">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="card ">
                    <h3 style="text-align: center">Login</h3>
                    <hr>
                    <form [formGroup]="loginForm" (ngSubmit)="Login()">
                      <div class="form-group"> 
                          <label for="email">Username:</label>
                          <input type="text"  class="form-control" placeholder="Username" name="username" formControlName="username">
                          <small *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')" style="color:red;"> UserName is required</small>
                      </div>
                      <div class="form-group"> 
                        <label for="email">Password:</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" formControlName="password"> 
                        <small *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')" style="color:red;"> Password is required</small>
                      </div>
                      <button class="btn btn-md btn-primary btn-block btn-signin" type="submit"  [disabled]="loginForm.invalid" >Login</button>
                    </form>
                    <div class="row">
                    <div class="col-8">   
                    <a (click)="onclick()">Create Account</a>  
                    </div>
                    <div class="col-4 c">
                     <a (click)="onforgotpassword()">Forgot Password</a>     
                    </div>           
                    </div>    
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
  </body>
  <router-outlet></router-outlet>
  
