<!--Add Task Form-->
<form [formGroup]="addTaskForm" >
  <h3 style="text-align: center"> Add Task</h3>
  <hr>
<mat-form-field>
  <input matInput  placeholder="Task Name"  name="content" formControlName="content">
</mat-form-field>
<small *ngIf="addTaskForm.get('content').touched && addTaskForm.get('content').hasError('required')" style="color:red;"> TaskName is required</small>
<hr>
<button mat-button mat-raised-button type="button" (click)="Addtask()" color="primary" ><strong>Add Task</strong></button>
<button mat-button mat-raised-button mat-dialog-close color="warn" style="float:right" type="submit">Close</button>
</form>



