<!--Delete Confirmationbox-->
<div class="modal-header">
    <h4 class="modal-title">Please confirm..</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    Do you really want to ... ?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger"  (click)="onNoClick()" >Cancel</button>
    <button type="button" class="btn btn-primary" [mat-dialog-close] (click)="deleteaccept(data)">Ok</button>
</div>