<body class="b">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <!-- <img src="/assets/loginbackground.jpg"> -->
          </div>
          <div class="col-md-6">
              <div class="card">
                  <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                  <!-- <img id="profile-img" class="profile-img-card" src="/assets/image5.jpg" />
                  <p id="profile-name" class="profile-name-card"></p> -->
                  <h3 style="text-align: center">Forgot Password</h3>
                  <form >  
                    <div class="form-group"> 
                      <!-- <label for="email">Email ID:</label> -->
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email ID" name="emailid" >
                    </div>
                    
                    <button class="btn btn-sm btn-primary btn-block btn-signin" type="submit" (click)="Login()">Submit</button>
                  </form><!-- /form -->
                  <!-- <a [routerLink]="['/Register']" class="forgot-password">
                      Create an account?
                  </a> -->
                  
              </div>
          </div>
          <div class="col-md-3">
          </div>
      </div>
  </div>
</body>
