<!-- <form [formGroup]="updatetaskform" > -->
    <h3><strong> Task Update </strong></h3>
    <hr>
    <label> Task name : </label> <input placeholder="Task Name"  [(ngModel)]="data.content"  name="content" class="form-control">
    <br>
    <button mat-button type="button" mat-raised-button [mat-dialog-close] color="primary" (click)="updatetask()"> Update Task</button>
    <button mat-button mat-dialog-close  mat-raised-button color="warn" style="float:right">Cancel</button>
    <!-- {{Task.content|json}} -->
<!-- </form> -->
