/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


/* html, body {
    height: 100%;
    margin: 0;
    } */
    html,body{
        height: 100%;
    }