<!-- Display All Task-->
<div class="container containerclass">  
<!-- <button mat-button (click)="openDialog()"   class="addbuttoncolor"><mat-icon>add</mat-icon><strong>Add Task </strong></button>
<button type='submit' (click)="logout()" mat-raised-button color="warn" style="float:right"><mat-icon>more_vert</mat-icon>Logout</button> -->
  <!-- <div class="space"></div> --> 
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Search......." [(ngModel)]="filter">        
      </mat-form-field>    
    </div> 
    <div class="col-1"></div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">  
      <mat-card>     
        <div class="row"> 
          <div class="col-10"><mat-card-title >To Do List</mat-card-title></div>
            <div class="col-1"><button mat-button (click)="AddTaskopenDialog()"  mat-mini-fab color="primary"  class="addbuttoncolor" ><mat-icon>add</mat-icon></button></div>
            <div class="col-1">
                <button mat-icon-button matTooltip="Language" (click)=select.open() style="float:right;overflow:hidden;">
                    <mat-icon>more_vert</mat-icon>
                    <mat-select  #select [(ngModel)]="setLang" class="langSelect">
                      <mat-option (click)="logout()" mat-raised-button><mat-icon color="warn">logout</mat-icon>Logout</mat-option>
                    </mat-select>
                </button>
            </div>  
          </div>    
          <hr>
          <mat-card-content>
            <div *ngFor="let task of tasks.tasks |filter:filter | paginate: { itemsPerPage: 4, currentPage: p }">
              <div class="row">
                <div class="col-10">
                    <label>
                      <mat-checkbox  (change)='onChange(task)'></mat-checkbox>  
                      <div class="taskcontent"> {{task.content}}</div>
                    </label>
                </div>
                <div class="col-1">
                  <button mat-button style="float:right" (click)="EditTaskopenDialog(task)"><mat-icon class="editbutton">create</mat-icon></button>
                </div>
                <div class="col-1">
                  <button mat-button style="float: right" (click)="DeleteTaskopenDialog(task)"><mat-icon color="warn">delete</mat-icon></button>
                </div>
              </div>
              <hr>
            </div>
          </mat-card-content>  
          <mat-card-footer>
            <!-- <button  mat-button class="btn btn-success btn-sm">Select Complete</button>
            <button  mat-button class="btn btn-success btn-sm" style="float: right"  (click)="CompletedtaskopenDialog()">Show Completed</button> -->
            <pagination-controls  (pageChange)="p = $event"></pagination-controls>  
          </mat-card-footer>
        </mat-card>   
      </div>
    <div class="col-1">       
    </div>
  </div>
</div>

