.containerclass {
    margin-top: 20px
}
table{
    width: 100%;
}
.checkboxpadding{
    padding-left:10px;
}
.space {
    margin-top: 15px;
}
.mat-checkbox {
    position: relative;
    top: 9px;
}
.taskcontent {
    word-wrap: break-word;
    margin-left: 24px;
    top: -17px;
    position: relative;
}

::ng-deep .mat-select-arrow-wrapper {display: none;}
::ng-deep .mat-select-arrow {display: none;}
.b {
border: none;
}
.addbuttoncolor {
    color:white;
    position: relative;
    right: 10px;
    float:right;
}
.editbutton {
    color:blue
}
.material-icons.color_green { 
    color: #f51909; 
}