.card
{
    padding:20px 25px 30px;
    margin-top: 100px;
    background-color: rgba(245, 245, 245, 0.4);
}
.b{
background-color: #eb5151e8;
}
.btn-primary{
    background-color: #efdad7;
    border-color:aliceblue;
    color:black;
}
input[type=text]{
    background-color: rgba(245, 245, 245, 0.4);
    border-color:rgba(245, 245, 245, 0.4);
  }
input[type=email]{
  background-color: rgba(245, 245, 245, 0.4);
  border-color:rgba(245, 245, 245, 0.4);
}
input[type=password]{
  background-color: rgba(245, 245, 245, 0.4);
  border-color:rgba(245, 245, 245, 0.4);
}