    <body class="b">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <!-- <img src="/assets/loginbackground.jpg"> -->
                </div>
                <div class="col-6">
                    <div class="card ">
                        <h3 style="text-align: center">SignUp</h3>
                        <hr>
                        <form [formGroup]="registerForm" (ngSubmit)="SignUp()">  
                          <div class="form-group"> 
                            <label for="email">Username:</label>
                            <input type="text"  class="form-control" placeholder="Username" name="username" formControlName="username">
                            <small *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')" style="color:red;"> UserName is required</small>
                          </div>
                          <div class="form-group"> 
                            <label for="email">Email ID:</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email ID" name="emailid" formControlName="emailid">
                            <small *ngIf="registerForm.get('emailid').touched && registerForm.get('emailid').hasError('required')" style="color:red;"> Email ID is required</small>
                            <small *ngIf="registerForm.get('emailid').hasError('pattern')" style="color:red;"> Email ID is not valid</small>
                          </div>
                          <div class="form-group"> 
                            <label for="password">Password:</label>
                            <input type="password"  class="form-control" placeholder="Password" name="password" formControlName="password"> 
                            <small *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')" style="color:red;"> Password is required</small>
                          </div>
                          <div class="form-group"> 
                            <label for="confirmpassword">Confirm Password:</label>
                            <input type="password"  class="form-control" placeholder="Confirm Password" name="confirmpassword" formControlName="confirmPassword" > 
                            <small *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').hasError('required')" style="color:red;"> Confirm Password is required</small>
                          </div>
                        <button class="btn btn-md btn-primary btn-block btn-signin" type="submit"  [disabled]="registerForm.invalid">SignUp</button>
                          <a (click)="onclick()">You Have Already Created Account?</a>  
                        </form>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </body>
      <!-- </body> -->
      
